.my-carousel-element {
  padding: 1.5em 3em;

  padding-top: 3%;
  //width: 95%;
}

.my-carousel-element > .my-carousel-card {
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 1px 1px 0.5em gray;
  border-radius: 0.5em;
}

.my-carousel-element > .my-carousel-card > .my-carousel-card-sum {
  
}

.bottom-carousel-element{
  height: 80%;
  background-color: transparent;
  width: 95%;
}

.bottom-carousel-element> .bottom-button-beeline {
  //background-image: url(resources/icons/32x32/main/transfer.png);
  width:45%;
  height: 85%;
  //background-position: center;
}