.riot-tags-main-container
{
-webkit-animation-name: mountAnimation !important;
-webkit-animation-duration: 0.2s !important;
animation-name:mountAnimation !important;
animation-duration: 0.2s !important;
}

@keyframes mountAnimation
{
from {opacity: 0 !important;}
to {opacity: 1 !important;}
}