body {
  margin: 0;
}

html{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  text-decoration:none;
  color:inherit;
}

#htmlId {
  width: 100%;
  height: 100%;
  /*background-image: url("../resources/draft/main_without_bar.png");*/
  /*opacity: 0.4;*/
  background-size: contain;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(rgb(0, 122, 226) 0%, rgb(28, 200, 249) 60%, rgb(27, 198, 248) 100%);
  background-image: -webkit-linear-gradient(rgb(0, 122, 226) 0%, rgb(28, 200, 249) 60%, rgb(27, 198, 248) 100%);
  background-image: -ms-linear-gradient(rgb(0, 122, 226) 0%, rgb(28, 200, 249) 60%, rgb(27, 198, 248) 100%);
  font-family: SFUIDisplay-Light;
  margin: 0;
  overflow: hidden;
}

input {
  font-family: Neuron;
  font-size: 24px;
}

.view-registration-device {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../resources/icons/background/transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.view-registration-client {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../resources/icons/background/transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.view-authorization {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../resources/icons/background/transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.view-sms {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("../resources/icons/background/transparent.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.view-main-page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-my-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*VIEW REGISTRATION CLIENT*/
.registration-client-card-field {
  position: relative;
  top: 60px;
  width: 300px;
  height: 160px;
  border: 2px solid #2f2b3d;
  background-color: #2f2b3d;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.registration-client-text-field {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-size: contain;
  text-align: center;
  color: #4bd5ff;
  font-size: 15px;
  top: 60px;
}

.registration-client-card-number {
  position: absolute;
  padding: 0;
  color: white;
  background-color: #1b1729;
  border: none;
  width: 260px;
  height: 36px;
  left: 20px;
  top: 40px;
}

.registration-client-card-number-box {
  position: absolute;
  width: 45px;
  height: 20px;
  top: 5px;
  background-color: transparent;
  border: none;
  color: white;
}

.registration-client-card-number-box-one {
  left: 15px;
}

.registration-client-card-number-box-two {
  left: 75px;
}

.registration-client-card-number-box-three {
  right: 75px;
}

.registration-client-card-number-box-four {
  right: 15px;
}

.registration-client-card-text {
  position: absolute;
  margin: 0;
  background-size: contain;
  color: #757389;
  font-size: 15px;
}

.registration-client-card-date {
  position: absolute;
  padding: 0;
  color: white;
  background-color: #1b1729;
  border: none;
  width: 80px;
  height: 35px;
  left: 20px;
  top: 100px;
}

.registration-client-card-date-box {
  position: absolute;
  width: 60px;
  left: 10px;
  height: 20px;
  top: 6px;
  background-color: transparent;
  border: none;
  color: white;
}

.registration-client-card-pin {
  position: absolute;
  padding: 0;
  color: white;
  background-color: #1b1729;
  border: none;
  width: 80px;
  height: 35px;
  left: 150px;
  top: 100px;
}

.registration-client-card-date-pin-box {
  position: absolute;
  width: 71px;
  left: 2px;
  height: 20px;
  top: 9px;
  background-color: transparent;
  border: none;
  color: white;
}

/*ENTER BUTTON REGISTRATION AND AUTHORIZATION*/
.button-enter {
  position: relative;
  width: 220px;
  height: 50px;
  background-color: #01cfff;
  margin-right: auto;
  border-radius: 40px;
  margin-left: auto;
}

.button-enter-label {
  position: relative;
  top: 15px;
  width: 60px;
  height: 20px;
  font-size: 22px;
  margin: auto;
  color: white;
}

/*KEYBOARD SETTINGS FOR REGISTRATION AND AUTHORIZATION*/

.keyboard-field {
  position: relative;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

/*TOOLBAR*/
.toolbar {
  position: absolute;
  top: 10px;
  right: 13px;
  left: 13px;
  height: 35px;
  background: transparent;
  border-bottom: 2px solid #a3deee;
}

.menu-button {
  position: absolute;
  left: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.menu-icon {
  position: absolute;
  background: transparent;
  background-image: url(../resources/icons/toolbar/menu.png);
  width: 50px;
  height: 50px;
  background-size: 35%;
  top: -14px;
  background-repeat: no-repeat;
  background-position: center;
  left: -8px;
}

.bell-button {
  position: absolute;
  right: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.bell-icon {
  position: absolute;
  background: transparent;
  background-image: url(../resources/icons/toolbar/bell.png);
  width: 20px;
  height: 23px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  right: 10px;
  top: -1px;
}

/*FONT FACE*/
@font-face {
  font-family: "Neuron";
  src: url("../resources/font/Neuron/Neuron.otf");
  format: ("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orator";
  src: url("../resources/font/Orator/OratorStd.otf");
  format: ("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orator-slanted";
  src: url("../resources/font/Orator/OratorStd-Slanted.otf");
  format: ("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("../resources/font/SFUIDisplay/SFUIDisplay-Light.otf");
  format: ("opentype");
  font-weight: normal;
  font-style: normal;
}

/*BANK-OPERATIONS*/

.bank-operations {
  position: absolute;
  bottom: 158px;
  left: -3px;
  height: 200px;
  width: 100%;
}

/*PAY-BUTTON*/
.bank-operation-button {
  position: relative;
  background: transparent;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 10px 5px 10px 10px;
  left: 5px;
}

.top-operations-buttons {

}

.bottom-operations-buttons {
  position: absolute;
  top: 85px;
  left: 0px;
}

.bank-operation-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bank-operation-label {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 30%;
  line-height: 30px;
  left: -3px;
}

.operation-pay-icon {
  background-image: url("../resources/icons/bank-operations/payments.png");
  background-size: 30%;
  border-bottom: .1px solid #95E6FD;
}

.operation-transfer-icon {
  background-image: url("../resources/icons/bank-operations/transfer.png");
  background-size: 40%;
  border-bottom: .1px solid #95E6FD;
}

.operation-autopay-icon {
  background-image: url(../resources/icons/bank-operations/autopay.png);
  background-size: 40%;
  border-bottom: .1px solid #95E6FD;
  left: -3px;
}

.operation-myFinance-icon {
  background-image: url("../resources/icons/bank-operations/myfinance.png");
  background-size: 40%;
}

.operation-report-icon {
  background-image: url("../resources/icons/bank-operations/reports.png");
  background-size: 40%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*ALL CARD*/
.common-balance-label {
  position: absolute;
  top: 42px;
  font-size: 17px;
  left: 22px;
  color: #9fdbf8;
  word-spacing: 4px;
}

.common-balance {
  position: absolute;
  top: 15px;
  left: 19px;
  color: #fffaf9;
  font-size: 58px;
  word-spacing: 4px;
}

.valuta {
  position: absolute;
  top: 90px;
  left: 296px;
  color: #9fdbf8;
}

/*CAROUSEL*/

.card-carousel {
  position: absolute;
  height: 170px;
  width: 100%;
  display: inline-block;
  top: 110px;
  background: transparent;
}

.cards {
  position: relative;
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
}

.card {
  height: 148px;
  width: 260px;
  position: absolute;
  top: 25px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-size: cover;
  color: white;
  -webkit-box-shadow: 0px 61px 40px -65px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 61px 40px -65px rgba(0, 0, 0, 1);
  box-shadow: 0px 61px 40px -65px rgba(0, 0, 0, 1);
}

.card-bank-name {
  position: absolute;
  top: 6px;
  left: 189px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 18px;
  height: 16px;
  width: 59px;
}

.card-bank-name-url {
  position: absolute;
  width: 120px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 15px;
}

.card-salary-title {
  position: absolute;
  top: 70px;
  left: 15px;
  color: #a7a7a7;
  background-size: contain;
  font-size: 13px;
  height: 10%;
}

.card-balance-currency-container {
  position: absolute;
  width: 200px;
  top: 83px;
  display: inline-block;
  margin: 0;
}

.card-balance {
  position: relative;
  left: 17px;
  color: #515151;
  font-size: 26px;
  width: 115px;
  /* background-size: contain; */
  margin: 0;
  margin-top: -1px;
  float: left;
  padding: 0;
}

.card-currency {
  position: relative;
  margin-left: 20px;
  /* margin-right: auto; */
  color: #a7a7a7;
  top: -3px;
  font-size: 13px;
  background-size: contain;
  /* margin: 0; */
  float: left;
  width: 30px;
}

.card-number {
  position: absolute;
  top: 121px;
  color: #fefefe;
  width: 192px;
  height: 20px;
  font-size: 16px;
  text-shadow: white -0.5px -0.5px 0.2px,
  black 0.0px 0.5px 0.1px,
  white -0.5px -0.5px 0.2px,
  black 0.0px 0.5px 0.2px;
  -webkit-text-shadow: white -0.5px -0.5px 0.2px,
  black 0.0px 0.5px 0.1px,
  white -0.5px -0.5px 0.2px,
  black 0.0px 0.5px 0.2px;
  font-family: Orator;
  color: transparent;
  left: 13px;
}

.card-number-part-one {
  position: absolute;
  left: 0px;
  font-weight: bold;
}

.card-number-part-two {
  position: absolute;
  left: 152px;
  font-weight: bold;
}

.number-stars {
  position: absolute;
  margin: 0;
  left: 47px;
  top: 1px;
  letter-spacing: -5px;
  font-size: 26px;
  word-spacing: -4px;
}

/*BOTTOM SERVICE BEELINE UCELL UMS*/
.service-carousel {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 45px;
  background: transparent;
}

.service-component {
  position: absolute;
  width: 310px;
  height: 115px;
  bottom: 0;
  /*background-color: #f7f7f7;*/
  background-color: #fefefe;
}

.service-container {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

.service-buttons {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 10px;
  background-repeat: no-repeat;
}

.horizontal-line {
  position: absolute;
  height: 25px;
  width: 1px;
  background-color: #b1b1b1;
}

.horizontal-line-beeline {
  left: 82px;
  top: 17px;
}

.horizontal-line-ucell {
  left: 99px;
  top: 18px;
}

.horizontal-line-ums {
  left: 97px;
  top: 27px;
}

.beeline-button {
  background-image: url(../resources/icons/services/beeline.png);
  background-size: 80%;
  left: 4px;
}

.ucell-button {
  left: 84px;
  background-image: url(../resources/icons/services/ucell.png);
  background-size: 52%;
  background-position: top;
}

.ums-button {
  left: 183px;
  background-position: center;
  background-image: url(../resources/icons/services/ums.png);
  background-size: 70%;
  top: 0px;
}

.service-title {
  position: relative;
  top: 20px;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  background-size: contain;
  color: #585858;
  font-size: 17px;
}

.side-menu {
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  background-color: #0485e5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 999999;
  top: 0;
}

.side-menu-back-page {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  opacity: 0;
}

.page-title {
  position: absolute;
  top: 10px;
  right: 15px;
  left: 15px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(149, 230, 253);
}

.name-title {
  position: absolute;
  background-size: contain;
  font-size: 23px;
  left: 40px;
  top: 15px;
  margin: 0;
  color: #fffaf9;
}

.back-button {
  position: absolute;
  width: 60px;
  height: 50px;
  background-image: url("../resources/icons/back/back.png");
  background-repeat: no-repeat;
  -webkit-background-size: 20%;
  background-position-y: center;
  background-position-x: 10px;
  background-size: 20%;
  left: 0;
}

.right-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
}

/*MY CARD PAGE*/

.my-cards-carousel {
  position: absolute;
  width: 100%;
  top: -65px;
}

/*MY CARDS BUTTON*/
.my-cards-button-container {
  position: absolute;
  top: 250px;
  left: 10px;
  right: 0;
  overflow: hidden;
  height: 150px;
  background: transparent;
}

.my-cards-button-field {
  position: absolute;
  width: 400px;
  height: 50px;
}

.my-cards-button-field-transfer {
  top: 0;
}

.my-cards-button-field-payment {
  top: 50px;
}

.my-cards-button-field-report {
  top: 100px;
}

.my-cards-button-icon {
  position: absolute;
  width: 80px;
  height: 50px;
  background: transparent;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.my-cards-button-icon-transfer {
  background-image: url("../resources/icons/bank-operations/transfer.png");
  background-size: 35%;
  background-position: center;
}

.my-cards-button-icon-payment {
  background-image: url("../resources/icons/bank-operations/payments.png");
  background-size: 25%;
  background-position: center;
}

.my-cards-button-icon-report {
  background-image: url("../resources/icons/bank-operations/reports.png");
  background-size: 35%;
  background-position: center;
}

.my-cards-button-label {
  position: absolute;
  height: 70%;
  width: 80%;
  left: 20%;
  font-size: 20px;
  color: white;
  top: 15px;
  border-bottom: 1px solid #95e6fd;
}

.my-cards-button-block-card {
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #eb604d;
  top: 400px;
}

.my-cards-button-block-card-label {
  position: absolute;
  background-size: contain;
  left: 90px;
  font-size: 20px;
  color: white;
  top: 20px;
}

.my-cards-last-operations-container {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: white;
}

.my-cards-last-operations {
  position: absolute;
  width: 100%;
  top: 460px;
  overflow: auto;
  background-color: #ffffff;
  bottom: 0;
}

.my-cards-last-operations-container-label {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: #f7f7f7;
  background-size: contain;
  font-size: 20px;
  color: #8a8a8a;
}

.my-cards-last-operations-label {
  position: absolute;
  margin: 0;
  left: 30px;
  top: 13px;
}

.my-cards-last-operations-info {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #dedfe0;
  overflow: hidden;
}

.my-cards-operation-amount {
  position: relative;
  color: #EB604D;

  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  top: 10px;
  left: 30px;
  float: left;
}

.my-cards-operation-currency{
  position: relative;
  color: #8a8a8a;
  top: 25px;
  background-size: contain;
  float: left;
  left: 35px;
  font-size: 15px;
}

.my-cards-operation-date{
  position: absolute;
  color: #8a8a8a;
  bottom: 10px;
  left: 35px;
  font-size: 15px;
}

/*AUTHORIZATION VIEW*/

.authorization-pin-container {
  position: relative;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  top: 120px;
}

.authorization-pin-field {
  position: relative;
  top: 15px;
  height: 20px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}

.authorization-pin-circles {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  border: 2px solid #01cfff;
}

.authorization-pin-one {

}

.authorization-pin-two {
  left: 35px;
}

.authorization-pin-three {
  left: 70px;
}

.authorization-pin-four {
  left: 105px;
}

.authorization-pin-five {
  left: 140px;
}

.authorization-keyboard-field {
  top: 250px;
}

.authorization-button-enter {
  top: 120px;
}

.authorization-buttons-container {
  position: relative;
  width: 225px;
  top: -105px;
  margin-left: auto;
  margin-right: auto;
}

.authorization-button-forget-pin {
  position: absolute;
  font-size: 17px;
  left: 0;
  top: 40px;
  background-size: contain;
  color: #05eeff;
  border-bottom: 1px solid #05eeff;
}

.authorization-button-registration {
  position: absolute;
  font-size: 17px;
  background-size: contain;
  color: white;
  right: 0;
  top: 40px;
  border-bottom: 1px solid white;
}

.authorization-button-offline {
  position: relative;
  font-size: 17px;
  width: 110px;
  background-size: contain;
  color: white;
  border-bottom: 1px solid white;
  text-align: center;
  bottom: -265px;
  margin-left: auto;
  margin-right: auto;
}

.authorization-enter-pin-label {
  position: relative;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  width: 115px;
  color: white;
}

/*COMPONENT KEYBOARD*/
.keyboard-container {
  position: absolute;
  width: 250px;
  height: 200px;
}

.keyboard-field-one {
  position: absolute;
  width: 100%;
  height: 60px;
}

.keyboard-field-two {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 60px;
}

.keyboard-field-three {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 120px;
}

.keyboard-field-four {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 180px;
}

.keyboard-buttons {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 8px;
  color: white;
  font-size: 35px;
  text-align: center;
}

.keyboard-buttons-label {
  position: absolute;
  left: 27px;
  top: 8px;
  margin: 0;
}

.keyboard-buttons:active {
  background: radial-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.04), transparent);
  border-radius: 40px;
}

.keyboard-button-one {
  left: 0;
}

.keyboard-button-two {
  left: 90px;
}

.keyboard-button-three {
  right: 0;
}

.keyboard-button-four {
  left: 0;
}

.keyboard-button-five {
  left: 90px;
}

.keyboard-button-six {
  right: 0;
}

.keyboard-button-seven {
  left: 0;
}

.keyboard-button-eight {
  left: 90px;
}

.keyboard-button-nine {
  right: 0;
}

.keyboard-space {
  left: 0;
}

.keyboard-button-zero {
  left: 90px;
}

.keyboard-button-x {
  background-size: 38px;
  background-image: url("../resources/icons/keyboard/backspace.png");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  right: 0;
}

.keyboard-button-enter {
  position: absolute;
}

/*REGISTRATION VIEW*/

.registration-phone-field {
  position: relative;
  margin-left: auto;
  top: 100px;
  margin-right: auto;
  width: 280px;
  height: 50px;
  border-bottom: 3px solid rgba(163, 222, 238, 0.95);
  color: white;
}

.registration-phone-input {
  position: absolute;
  margin: 0;
  top: 15px;
  font-size: 32px;
}

.registration-device-remember {
  position: absolute;
  top: 55px;
  width: 100%;
  height: 50px;
}

.registration-device-remember-label {
  position: absolute;
  color: #4bd5ff;
  top: 16px;
  width: 150px;
  margin: 0;
}

.registration-device-remember-icon {
  position: absolute;
  background-image: url(../resources/icons/back/back.png);
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  background-size: 60%;
  width: 26px;
  height: 36px;
  left: 245px;
  top: 0px;
  opacity: 0.3;
}

.registration-button-enter {
  top: -95px;
}

.registration-keyboard-field {
  top: 230px;
}

.registration-buttons-container {
  position: relative;
  width: 280px;
  bottom: -260px;
  margin-left: auto;
  margin-right: auto;
}

.registration-container-offline {
  position: absolute;
  width: 150px;
  height: 70px;
  bottom: 0;
  left: 0;
}

.registration-button-offline {
  position: absolute;
  font-size: 17px;
  background-size: contain;
  color: white;
  border-bottom: 1px solid white;
  bottom: 20px;
  text-align: center;
  margin-left: 0;
  margin-bottom: 7px;
}

.registration-container-demo-version {
  position: absolute;
  width: 130px;
  height: 70px;
  bottom: 0;
  right: 0;
}

.registration-button-demo-version {
  position: absolute;
  font-size: 17px;
  background-size: contain;
  color: #b7f1ff;
  border-bottom: 1px solid #b7f1ff;
  bottom: 20px;
  margin-left: 40px;
  margin-bottom: 7px;
  text-align: center;
}

.registration-button-help {
  position: relative;
  font-size: 17px;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
  background-size: contain;
  color: #b7f1ff;
  border-bottom: 1px solid #b7f1ff;
}

.registration-button-registration {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 17px;
  background-size: contain;
  color: white;
  border-bottom: 1px solid white;
}

.registration-text-field {
  position: absolute;
  background-size: contain;
  top: -10px;
  left: 0;
  text-align: center;
  color: #4bd5ff;
  font-size: 15px;
  margin: 0;
}

/*VIEW - SMS*/
.sms-text-field {
  position: relative;
  text-align: center;
  color: #b7f1ff;
  top: 140px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}

.sms-phone-field {
  position: relative;
  margin-left: auto;
  top: 120px;
  margin-right: auto;
  width: 280px;
  height: 50px;
  border-bottom: 3px solid rgba(163, 222, 238, 0.95);
  color: white;
}

.sms-text-field-one {
  position: absolute;
  background-size: contain;
  top: -10px;
  left: 0;
  text-align: center;
  color: #4bd5ff;
  font-size: 15px;
  margin: 0;
}

.sms-phone-input {
  position: absolute;
  margin: 0;
  top: 15px;
  font-size: 32px;
}

.sms-timer {
  position: absolute;
  width: 80px;
  height: 40px;
  margin: 0;
  top: 20px;
  right: -20px;
  bottom: 0;
}

.sms-resend-icon {
  position: absolute;
  background-image: url(../resources/icons/sms/resend.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 22px;
  margin: 0;
  left: 35px;
  top: -2px;
}

/*COMPONENT FOOTER*/

.footer {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 50px;
  top: 5px;
  width: 100%;
  border-top: 1px solid rgb(37, 160, 227);
  color: rgb(197, 233, 239);
  background-color: #22a0e0;
}

.footer-icon-tick {
  position: absolute;
  left: 88px;
  background-size: contain;
  background-image: url(../resources/icons/footer/contacts.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  top: 17px;
  transition: 0.8s;
}

.footer-contacts-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  height: 150px;
  width: 100%;
  transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  -ms-transform: translate3d(0, 100px, 0);
}

.footer-contacts-label {
  position: absolute;
  font-size: 18px;
  margin-top: 14px;
  color: white;
  left: -10px;
}

.footer-contacts {
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: -20px;
  background-color: #25a0e3;
}

.footer-favourite-contacts-container {
  position: relative;
  width: 335px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 10px;
}

.footer-favourite-contacts-circles {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #7ae4ff;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 5px;
}

.footer-contacts-blocks {
  position: absolute;
  height: 80px;
  width: 60px;
  text-align: center;
}

.footer-contacts-block-one {
  left: -15px;
}

.footer-contacts-block-two {
  left: 55px;
}

.footer-contacts-block-three {
  left: 125px;
}

.footer-contacts-block-four {
  left: 195px;
}

.footer-contacts-block-five {
  left: 265px;
}

.footer-favourite-contacts-label {
  position: relative;
  background-size: contain;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  top: 54px;
  color: white;
  font-weight: normal;
}

.footer-contacts-label-icon-container {
  position: relative;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  width: 107px;
  height: 50px;
}
