body {
  margin: 0;
}

#htmlId {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(1, 123, 226), rgb(29, 199, 251));
  font-family: Neuron;
  margin: 0;
}

.view-main-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*TOOLBAR*/
.toolbar {
  position: absolute;
  top: 20px;
  right: 15px;
  left: 15px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(149, 230, 253);
}

.menu-button {
  position: absolute;
  left: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.menu-icon {
  position: absolute;
  background: transparent;
  background-image: url("../resources/icons/toolbar/menu.png");
  width: 30px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.bell-button {
  position: absolute;
  right: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.bell-icon {
  position: absolute;
  background: transparent;
  background-image: url("../resources/icons/toolbar/bell.png");
  width: 35px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/*FOOTER*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 50px;
  width: 100%;
  border-top: 1px solid rgb(37, 160, 227);
  color: rgb(197, 233, 239);
  background-color: rgb(37, 159, 225);
}

/*FONT FACE*/
@font-face {
  font-family: "Neuron";
  src: url("../resources/font/Neuron.otf");
  format: ("opentype");
  font-weight: normal;
  font-style: normal;
}

/*BANK-OPERATIONS*/

.bank-operations {
  position: absolute;
  bottom: 26%;
  height: 200px;
  width: 100%;
}

/*PAY-BUTTON*/
.bank-operation-button {
  position: relative;
  background: transparent;
  border-bottom: .1px solid #95E6FD;
  height: 95px;
  width: 95px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.bank-operation-button:hover {
  height: 70px;
  background-color: #25a0e3;
  text-shadow: 0px 0px 1px #000000;
}

.bottom-operations-buttons {
  position: absolute;
  top: 80px;
}

.bank-operation-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bank-operation-label {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 30%;
  line-height: 30px;
}

.operation-pay-icon {
  background-image: url("../resources/icons/bank-operations/payments.png");
  background-size: 30%;
}

.operation-transfer-icon {
  background-image: url("../resources/icons/bank-operations/transfer.png");
  background-size: 40%;
}

.operation-autopay-icon {
  background-image: url("../resources/icons/bank-operations/autopay.png");
  background-size: 40%;
}

.operation-myFinance-icon {
  background-image: url("../resources/icons/bank-operations/myfinance.png");
  background-size: 40%;
}

.operation-report-icon {
  background-image: url("../resources/icons/bank-operations/reports.png");
  background-size: 40%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*ALL CARD*/
.common-balance-label {
  position: absolute;
  top: 70px;
  left: 20px;
  color: #7ae4ff;
}

.common-balance {
  position: absolute;
  top: 50px;
  left: 20px;
  color: #fffaf9;
  font-size: 52px;
}

.valuta {
  position: absolute;
  top: 110px;
  left: 215px;
  color: #7ae4ff;
}

/*CAROUSEL*/

.card-carousel {
  position: absolute;
  height: 170px;
  width: 100%;
  display: inline-block;
  top: 130px;
  background: transparent;
  overflow: auto;
}

.cards {
  position: relative;

}

.card {
  height: 140px;
  width: 240px;
  position: absolute;
  top: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url("../resources/icons/cards/card_bg.jpg");
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 1px #a3a3a3;
  box-shadow: -3px -2px 6px #7f7f7f;
}

.card-bank-name {
  position: absolute;
  top: 8px;
  left: 35%;;
  color: #515151;
  background-size: contain;
  font-size: 20px;
  height: 10%;
}

.card-salary-title {
  position: absolute;
  top: 58px;
  left: 5px;
  color: #97989a;
  background-size: contain;
  font-size: 13px;
  height: 10%;
}

.card-balance {
  position: absolute;
  top: 70px;
  left: 5px;
  color: #515151;
  font-size: 24px;
  background-size: contain;
}

.card-currency {
  position: absolute;
  top: 78px;
  left: 95px;
  color: #5f6062;
  font-size: 12px;
  background-size: contain;
}

.card-number {
  position: absolute;
  top: 100px;
  left: 10px;
  color: #5f6062;
  font-size: 16px;
  background-size: contain;
  text-shadow: 2px 2px 4px #000000;
}

/*BOTTOM SERVICE BEELINE UCELL UMS*/
.service-carousel {
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 52px;
  background: transparent;
  overflow: hidden;
}

.service-component {
  position: absolute;
  width: 330px;
  height: 130px;
  bottom: 0;
  background-color: #fefefe;
}

.service-container {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

.service-buttons {
  position: absolute;
  width: 100px;
  height: 80px;
  bottom: 0px;
  background-repeat: no-repeat;
}

.horizontal-line {
  position: absolute;
  height: 30px;
  width: 1px;
  right: 0;
  bottom: 30px;
  background-color: #b9b9b9;
}

.beeline-button {
  background-image: url("../resources/icons/services/beeline.png");
  background-size: 100%;
}

.ucell-button {
  left: 100px;
  background-image: url("../resources/icons/services/ucell.png");
  background-size: 62%;
  background-position: top;
}

.ums-button {
  left: 200px;
  background-position: center;
  background-image: url("../resources/icons/services/ums.png");
  background-size: 80%;
}

.service-title {
  position: absolute;
  left: 25%;
  top: 20px;
  background: transparent;
  background-size: contain;
  color: #646264;
  font-size: 17px;
}

.side-menu {
  position: fixed;
  left: 0;
  height: 100%;
  width: 250px;
  overflow: hidden;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  background-color: #2176a7;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  z-index: 1;
  top: 0;

}

.page-title {
  position: absolute;
  top: 20px;
  right: 15px;
  left: 15px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(149, 230, 253);
}

.name-title {
  position: absolute;
  background-size: contain;
  font-size: 23px;
  left: 10%;
  top: 15px;
  margin: 0;
  color: #fffaf9;
}

.back-button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
}

.right-button {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
}

/*MY CARD PAGE*/

.my-cards-carousel {
  position: absolute;
  width: 100%;
  top: -65px;
}

/*MY CARDS BUTTON*/
.my-cards-button-container {
  position: absolute;
  top: 250px;
  left: 10px;
  right: 0;
  overflow: hidden;
  height: 150px;
  background: transparent;
}

.my-cards-button-field {
  position: absolute;
  width: 400px;
  height: 50px;
}

.my-cards-button-field-transfer {
  top: 0;
}

.my-cards-button-field-payment {
  top: 50px;
}

.my-cards-button-field-report {
  top: 100px;
}

.my-cards-button-icon {
  position: absolute;
  width: 80px;
  height: 50px;
  background: transparent;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.my-cards-button-icon-transfer {
  background-image: url("../resources/icons/bank-operations/transfer.png");
  background-size: 35%;
  background-position: center;
}

.my-cards-button-icon-payment {
  background-image: url("../resources/icons/bank-operations/payments.png");
  background-size: 25%;
  background-position: center;
}

.my-cards-button-icon-report {
  background-image: url("../resources/icons/bank-operations/reports.png");
  background-size: 35%;
  background-position: center;
}

.my-cards-button-label {
  position: absolute;
  height: 70%;
  width: 80%;
  left: 20%;
  font-size: 20px;
  color: white;
  top: 15px;
  border-bottom: 1px solid #95e6fd;
}

.my-cards-button-block-card {
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #eb604d;
  top: 400px;
}

.my-cards-button-block-card-label {
  position: absolute;
  background-size: contain;
  left: 90px;
  font-size: 20px;
  color: white;
  top: 20px;
}

.my-cards-last-operations {
  position: absolute;
  width: 100%;
  top: 460px;
  background-color: #ffffff;
  bottom: 0;
}

.my-cards-last-operations-container-label {
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: #f7f7f7;
  background-size: contain;
  font-size: 20px;
  color: #8a8a8a;
}

.my-cards-last-operations-label {
  position: absolute;
  margin: 0;
  left: 30px;
  top: 13px;
}

.my-cards-last-operations-info {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #dedfe0;
}

/*AUTHORIZATION VIEW*/

.authorization-pin-container {
  position: relative;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  top: 80px;
}

.authorization-pin-field {
  position: relative;
  top: 15px;
  height: 20px;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
}

.authorization-pin-circles {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  border: 2px solid #01cfff;
}

.authorization-pin-one {

}

.authorization-pin-two {
  left: 35px;
}

.authorization-pin-three {
  left: 70px;
}

.authorization-pin-four {
  left: 105px;
}

.authorization-pin-five {
  left: 140px;
}

.authorization-keyboard-field {
  position: relative;
  width: 250px;
  height: 250px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.authorization-button-enter {
  position: relative;
  top: 120px;
  width: 220px;
  height: 50px;
  background-color: #01cfff;
  margin-right: auto;
  border-radius: 40px;
  margin-left: auto;
}

.authorization-enter-label {
  position: relative;
  top: 15px;
  width: 60px;
  height: 20px;
  font-size: 22px;
  margin: auto;
  color: white;
}

.authorization-buttons-container {
  position: relative;
  width: 230px;
  height: 140px;
  top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.authorization-button-forget-pin {
  position: absolute;
  font-size: 17px;
  left: 0;
  background-size: contain;
  color: #05eeff;
  border-bottom: 1px solid #05eeff;
}

.authorization-button-registration {
  position: absolute;
  font-size: 17px;
  background-size: contain;
  color: white;
  right: 0;
  border-bottom: 1px solid white;
}

.authorization-button-offline {
  position: absolute;
  font-size: 17px;
  background-size: contain;
  color: white;
  border-bottom: 1px solid white;
  bottom: 20px;
  text-align: center;
  left: 60px;
}

/*COMPONENT KEYBOARD*/
.keyboard-container {
  position: absolute;
  width: 250px;
  height: 200px;
}

.keyboard-field-one {
  position: absolute;
  width: 100%;
  height: 60px;
}

.keyboard-field-two {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 60px;
}

.keyboard-field-three {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 120px;
}

.keyboard-field-four {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 180px;
}

.keyboard-buttons {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 8px;
  color: white;
  font-size: 35px;
  text-align: center;
}

.keyboard-buttons-label{
  position: absolute;
  left: 27px;
  top: 8px;
  margin: 0;
}

.keyboard-buttons:active {
  background: radial-gradient(rgba(255,255,255, 0.23), rgba(255,255,255, 0.04), transparent);
  border-radius: 40px;
}

.keyboard-button-one {
  left: 0;
}

.keyboard-button-two {
  left: 90px;
}

.keyboard-button-three {
  right: 0;
}

.keyboard-button-four {
  left: 0;
}

.keyboard-button-five {
  left: 90px;
}

.keyboard-button-six {
  right: 0;
}

.keyboard-button-seven {
  left: 0;
}

.keyboard-button-eight {
  left: 90px;
}

.keyboard-button-nine {
  right: 0;
}

.keyboard-space {
  left: 0;
}

.keyboard-button-zero {
  left: 90px;
}

.keyboard-button-x {
  right: 0;
}

.keyboard-button-enter {
  position: absolute;
}

/*REGISTRATION VIEW*/

.registration-phone-field{
  position: relative;
  margin-left: auto;
  top:60px;
  margin-right: auto;
  width: 250px;
  height: 50px;
  border:1px solid red;
}