body{
  margin:0;
}

#htmlId {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(1, 123, 226), rgb(29, 199, 251));
  font-family: Neuron;

}

/*TOOLBAR*/
.toolbar {
  position: absolute;
  top: 20px;
  right: 15px;
  left: 15px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(149, 230, 253);
}

.menu-button{
  position: absolute;
  left: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.menu-icon{
  position: absolute;
  background: transparent;
  background-image: url("../resources/icons/toolbar/menu.png");
  width: 30px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.bell-button{
  position: absolute;
  right: 2px;
  background: transparent;
  width: 100%;
  height: 100%;
  background-position: center;
}

.bell-icon{
  position: absolute;
  background: transparent;
  background-image: url("../resources/icons/toolbar/bell.png");
  width: 35px;
  height: 40px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

/*FOOTER*/

.footer{
  position: fixed;
  bottom:0;
  left:0;
  right: 0;

  height: 50px;
  width: 100%;
  border-top: 1px solid rgb(37, 160, 227);
  color: rgb(197, 233, 239);
  background-color: rgb(37, 159, 225);
}

/*FONT FACE*/
@font-face {
  font-family: "Neuron";
  src:url("../resources/font/Neuron.otf"); format:("opentype");
  font-weight: normal;
  font-style: normal;
}


/*BANK-OPERATIONS*/

.bank-operations{
  position: absolute;
  bottom: 26%;
  height: 200px;
  width: 100%;
}

/*PAY-BUTTON*/
.bank-operation-button{
  position: relative;
  background: transparent;
  border-bottom: .1px solid #95E6FD;
  height: 95px;
  width: 95px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

.bank-operation-button:hover{
  height: 70px;
  background-color: #25a0e3;
  text-shadow: 0px 0px 1px #000000;
}

.bottom-operations-buttons{
  position: absolute;
  top:80px;
}

.bank-operation-icon{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.bank-operation-label{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 30%;
  line-height: 30px;
}

.operation-pay-icon{
  background-image: url("../resources/icons/bank-operations/payments.png");
  background-size: 30%;
}

.operation-transfer-icon{
  background-image: url("../resources/icons/bank-operations/transfer.png");
  background-size: 40%;
}

.operation-autopay-icon{
  background-image: url("../resources/icons/bank-operations/autopay.png");
  background-size: 40%;
}

.operation-myFinance-icon{
  background-image: url("../resources/icons/bank-operations/myfinance.png");
  background-size: 40%;
}

.operation-report-icon{
  background-image: url("../resources/icons/bank-operations/reports.png");
  background-size: 40%;
}

.hide{
  display: none;
}

.show{
  display: block;
}


/*ALL CARD*/
.common-balance-label{
  position: absolute;
  top:70px;
  left:20px;
  color:#7ae4ff;
}

.common-balance{
  position: absolute;
  top:50px;
  left:20px;
  color:#fffaf9;
  font-size: 52px;
}

.valuta{
  position: absolute;
  top:110px;
  left:215px;
  color:#7ae4ff;
}

.card-carousel{
  position: absolute;
  height:170px;
  width: 100%;
  display: inline-block;
  top:130px;
  background: transparent;
  overflow: auto;
}

.cards{
  position: relative;
}

.card{
  height: 140px;
  width: 240px;
  position: absolute;
  top: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-image: url("../resources/icons/cards/card_bg.jpg");
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 1px #a3a3a3;
  box-shadow: -3px -2px 6px #7f7f7f;
}


.salary-title{
  position: absolute;
  top:58px;
  left: 5px;
  color: #97989a;
  background-size: contain;
  font-size: 13px;
  height: 10%;
}

.balance-of-card{
  position: absolute;
  top:70px;
  left: 5px;
  color: #515151;
  font-size: 24px;
  background-size: contain;
}

.valyuta-of-card{
  position: absolute;
  top:78px;
  left: 95px;
  color: #5f6062;
  font-size: 12px;
  background-size: contain;
}

.number-of-card{
  position: absolute;
  top:100px;
  left: 10px;
  color: #5f6062;
  font-size: 16px;
  background-size: contain;
  text-shadow: 2px 2px 4px #000000;
}

/*BOTTOM SERVICE BEELINE UCELL UMS*/
.service-carousel{
  position: absolute;
  width: 100%;
  height: 130px;
  bottom:52px;
  background: transparent;
    overflow: hidden;
}

.service-component{
  position: absolute;
  width: 330px;
  height: 130px;
  bottom:0;
  background-color: #fefefe;
}

.service-container{
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
}

.service-buttons{
  position: absolute;
  width: 100px;
  height: 80px;
  bottom:0px;
  background-repeat: no-repeat;
}

.horizontal-line{
  position: absolute;
  height: 30px;
  width: 1px;
  right:0;
  bottom: 30px;
  background-color: #b9b9b9;
}

.beeline-button{
  background-image: url("../resources/icons/services/beeline.png");
  background-size: 100%;
}

.ucell-button{
  left: 100px;
  background-image: url("../resources/icons/services/ucell.png");
  background-size: 62%;
  background-position: top;
}

.ums-button{
  left: 200px;
  background-position: center;
  background-image: url("../resources/icons/services/ums.png");
  background-size: 80%;
}

.service-title{
  position: absolute;
  left: 25%;
  top:20px;
  background: transparent;
  background-size: contain;
  color: #646264;
  font-size: 17px;
}


.side-menu{
  position: fixed;
  left: 0;
  height: 100%;
  width: 0;
  overflow: hidden;
  background-color: #2176a7;
  transition: 0.5s;
  z-index: 1;
  top: 0;

}

.page-title{
  position: absolute;
  top: 20px;
  right: 15px;
  left: 15px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(149, 230, 253);
}

.name-title{
  position: absolute;
  background-size: contain;
  font-size: 23px;
  left: 10%;
  top:15px;
  margin:0;
  color:#fffaf9;
}

.back-button{
  position: absolute;
  width: 20px;
  height: 20px;
}