@font-face {
  font-family: 'Neuron';
  src: url('../fonts/Neuron.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron';
  src: url('../fonts/Neuron-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Neuron-DemiBold';
  src: url('Neuron-DemiBold.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron-DemiBoldItalic';
  src: url('Neuron-DemiBoldItalic.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuron-DemiBoldItalic';
  src: url('Neuron-DemiBoldItalic.otf') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*/

