/**
 * @class Ext.Button
 */

.x-button {
  @include st-box;
  @include st-box-align(center);

  background-color: #eee;
  border: 1px solid #ccc;

  position: relative;
  overflow: hidden;
  z-index: 1;

  .x-button-icon {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;

  }

  .x-button-icon.x-shown {
    display: block;
    //width: 100%;
    background-size: contain;
    @include st-box-flex(1);
    @include st-box-align(center);
  }

  .x-button-icon.x-hidden {
    display: none;
  }
}

.x-button.x-button-pressing {
  background-color: #d6d6d6;
}

// Button icon alignment
.x-iconalign-left,
.x-icon-align-right {
  @include st-box-orient(horizontal);
}

.x-iconalign-top,
.x-iconalign-bottom,
.x-iconalign-center {
  @include st-box-orient(vertical);
}

.x-iconalign-bottom,
.x-iconalign-right {
  @include st-box-direction(reverse);
}

//.x-iconalign-center {
//  @include st-box-pack(center);
//}

// Button labels
.x-button-label {

  @include st-box-flex(0);
  @include st-box-align(center);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  display: block;
  @include st-box;
  overflow: hidden;
}

.x-badge {
  @extend .x-button-label;
  background-color: #ccc;
  border: 1px solid #aaa;
  z-index: 2;
  position: absolute !important;
  width: auto;
  font-size: .6em;
  right: 0;
  top: 0;
  max-width: 95%;
  display: inline-block;
}

.x-button-plain {
  border: none;
  background: transparent;
}

.x-button-toolbar-left {
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;

  .x-button-icon {
    width: 100%;
  }

}

.x-button-toolbar-right {
  background-size: contain;
  border: none;
  background: transparent;
  width: 25px;
  height: 25px;

  .x-button-icon {
    width: 100%;
  }
}

.x-button-big-icon {

  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 7px;
  //margin:10px;
  //padding: 30px;

  .x-button-icon.x-shown {
    @include st-box-flex(3);
  }

  .x-button-label {
    @include st-box-flex(1);
  }
}

.x-button-finance {
  position: absolute;
  left: 3%;
  top: 10%;
  width: 30%;
  height: 100%;
  border: none;
  background: transparent;
  // margin-left: 20px;
  //margin-top: 20px;

  .x-button-icon {
    width: 40%;
  }
  .x-button-label {
    height: 50%;
  }
}

.x-button-report {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 34%;
  top: 10%;
  border: none;
  background: transparent;
  //margin-left: 40px;

  .x-button-icon {
    width: 40%;
  }

  .x-button-label {
    height: 50%;;
  }
}

.x-button-payment {
  position: absolute;
  left: 3%;
  width: 28%;
  height: 100%;
  border: none;
  background: transparent;
  border-bottom: .1px solid #95E6FD;

  .x-button-icon {
    width: 30%;
  }
  .x-button-label {
    height: 40%;
  }
  // margin-left: 20px;
  //margin-top: 20px;
}

.x-button-transfer {
  position: absolute;
  left: 35%;
  width: 28%;
  height: 100%;
  border: none;
  background: transparent;
  border-bottom: .1px solid #95E6FD;
  // margin-left: 20px;
  //margin-top: 20px;

  .x-button-icon {
    width: 38%;
  }
  .x-button-label {
    height: 40%;
  }

}

.x-button-autopay {
  position: absolute;
  left: 67%;
  width: 28%;
  height: 100%;
  border: none;
  background: transparent;
  border-bottom: .1px solid #95E6FD;

  .x-button-icon {
    width: 40%;
  }

  .x-button-label {
    height: 40%;
  }
}



