/**
 * @class Ext.Toolbar
 */

.x-toolbar {
  position: relative;
  min-height: 2.6em;
  overflow: hidden;

  &.x-docked-top {
    border-bottom: 2px solid rgb(149, 230, 253);
    padding-top: 5%;
    padding-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }

  &.x-docked-bottom {
    border-top: 1px solid rgb(37, 160, 227);
    color: rgb(197, 233, 239);
    background-color: rgb(37, 159, 225);

  }

  &.x-docked-left {
    width: 50px;
    height: auto;
    border-right: 1px solid;
  }

  &.x-docked-right {
    width: 50px;
    height: auto;
    border-left: 1px solid;
  }
}

.x-title {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;

  max-width: 100%;

  &.x-title-align-left {
    padding-left: 10px;
  }

  &.x-title-align-right {
    padding-right: 10px;
  }

  .x-innerhtml {
    @include ellipsis;

  }
}

.x-navigation-bar {
  .x-container {
    overflow: visible;
  }
}

.x-toolbar-inner {

  .x-field {
    .x-component-outer {
      @include st-box-flex(1);
    }
  }
}

.x-ie .x-toolbar-inner {
  height: 100% !important;
}